.cropped {
    width: 600px; /* width of container */
    height: 250px; /* height of container */
    overflow: hidden;
    border: 2px dotted black;
}

.cropped img {
    margin: -280px 0px 0px -100px
}
