.cropped {
    width: 400px; /* width of container */
    height: 250px; /* height of container */
    overflow: hidden;
    border: 2px dotted black;
}

.cropped img {
    margin: -10px 0px 0px -180px;
}
